/*
color scheme
#B2543B / rgba(178,84,59) copper, nav and headers


*/

.gutter {
	display:table;
	content:" ";
	clear:both;
}

html,
body {
	width:100%;
	min-height:100%;
	margin:0%;
}

body {
	font-family:"Droid Sans", sans-serif;
}

footer {
	font-family:"Droid Sans", sans-serif;
	font-size:18px;
	text-align:center;
	color:#FFFFFF;
	height:50px;
	padding-top:30px;
	background-color:#424040;
	width:100%;
	position:absolute;
	top:1470px;
}

footer p {
	margin:0;
}

/*=====================
index.html
=====================*/

header {
	width:100%;
	height:500px;
	background-image:url("../img/peru.png");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	position:absolute;
}

nav {
	margin-top:0;
	width:100%;
	position:relative;
	z-index:9999999;
	background-color: #C42011;
}

.nav_ul {
	margin:0;
	display:flex;
	justify-content:space-between;
	padding:20px 40px 20px 40px;
}

.nav_li {
	font-size:20px;
	list-style-type:none;
	text-transform:uppercase;
	margin-left: -40px;
	margin-right: 20px;
}

.nav_li a {
	color:white;
	text-decoration:none;
	display:inline-block;
	text-align:center;
	width:120px;
}

/*================
other nav styles
================*/

.other_pages_nav {
	margin-top:0;
	width:100%;
	background-color:#B2543B;
}

.other_nav_ul {
	margin:0;
	display:flex;
	justify-content:space-between;
	padding:20px 40px 20px 40px;
}

.other_nav_li {
	font-size:20px;
	list-style-type:none;
	text-transform:uppercase;
}

.other_nav_li a {
	color:#ffffff;
	text-decoration:none;
	display:inline-block;
	text-align:center;
	width:120px;
}

.intro_body {
	position:relative;
	top:450px;
	width:100%;
	height:500px;
	background-color:#ffffff;
	z-index:1;
	margin-bottom:10px;
	padding-top:20px;
}

#about_index_heading {
	color:#C42011;
	font-size:50px;
	text-align:center;
	padding:10px;
	text-transform:uppercase;
	width:20%;
	margin:auto;
	border-bottom:1px solid #B2543B;
	margin-bottom:20px;
}

#about_index_content {
	font-size:18px;
	color:#000000;
	width:60%;
	margin:auto;
	margin-bottom:20px;
	text-align:center;
	line-height:50px;
}

#buttonLink {
	text-decoration:none;
	color:#FFFFFF;
}

#button {
	display:table;
	padding:5px;
	margin:auto;
	width:10%;
	height:40px;
	border:1px solid #BBBAB2;
	text-align:center;
	transition:all 0.4s ease-in-out;
}

#button p {
	width:90%;
	height:90%;
	background-color:#E89F6D;
	display:table-cell;
	vertical-align:middle;
	margin:0;
	transition:all 0.4s ease-in-out;
}

#button:hover p {
	background-color:#BBBAB2;
}

/*Featured works section*/

#featuredWorks {
	width:100%;
	height:475px;
	background-color:#E89F6D;
}

#featured_works_heading {
	color:#ffffff;
	font-size:50px;
	text-align:center;
	text-transform:uppercase;
	width:50%;
	padding:40px;
	object-position:center;
	margin:auto;
}

#featured_works_body {
	width:100%;
	display:flex;
	justify-content:space-between;
}

.featured_works {
	padding:10px;
	height:250px;
	width:25%;
	border:1px solid #ffffff;
	transition:all 0.4s ease-in-out;
}

.featured_work_h4 {
	width:40%;
	height:30px;
	padding-top:5px;
	margin:auto;
	margin-top:100px;
	font-size:22px;
	border:1px solid #ffffff;
	color:#ffffff;
	text-align:center;
	transition:all 0.4s ease-in-out;
	opacity:0;
}

.featured_works:hover {
	box-shadow:inset 0 300px 0 0 rgba(178,84,59,0.6);
}

.featured_works:hover .featured_work_h4 {
	opacity:1;
}

.featured_work_h4:hover {
	color:#B2543B;
	background-color:#ffffff;
}


#firstFeatured {
	margin-left:40px;
	background-image:url(../img/brooklyn-brid.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

#secondFeatured {
	background-image:url(../img/Peru.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

#thirdFeatured {
	margin-right:40px;
	background-image:url(../img/captainMurphy.gif);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

/*=====================
general nav cover
=====================*/

.navCover {
	width:100%;
	height:500px;
}

/*=====================
clima.html
=====================*/

#climanavCover {
	background-image:url("../img/nicsun.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

/*=====================
vacacion.html
=====================*/
#vacacionnavCover {
	background-image:url("../img/covergirl.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

/*=====================
vacacion.html
=====================*/
#alimentacionnavCover {
	background-image:url("../img/leches.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}


#about_block {
	width:90%;
	height:500px;
	margin:auto;
	padding:20px;
}

#mission_statement_block {
	width:90%;
	margin:auto;
	height:300px;
	padding-bottom:20px;
}

#headers {
	color:#B2543B;
	text-transform:uppercase;
	padding-bottom:20px;
	width:30%;
	margin:auto;
	margin-bottom:30px;
	border-bottom:2px solid #B2543B;
}

#missionStatement {
	float:left;
	width:40%;
	line-height:30px;
	text-align:left;
	margin-top:60px;
}

#mission_image {
	float:right;
	height:100%;
	width:50%;
	background-image:url("../img/chance.png");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

#goals {
	margin-top:40px;
	margin:auto;
	color:#B2543B;
	width:28%;
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:40px;
	border-bottom:3px solid #B2543B;
	text-transform:uppercase;
	text-align:center;
}

#firstGoals {
	float:right;
	width:100%;
	height:300px;
	margin-bottom:20px;
}

#generalgoals {
	float:right;
	width:40%;
	text-align:left;
	line-height:30px;
	margin-right:30px;
	margin-top:115px;
}

#general_image {
	padding-top:120px;
	margin-left:30px;
	height:100%;
	width:45%;
	float:left;
	background-image:url("../img/maxres.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	transition:all 0.4s ease-in-out;
}

#secondGoals {
	float:left;
	width:100%;
	height:300px;
	margin-bottom:20px;
}

#codegoals {
	float:left;
	width:40%;
	text-align:left;
	margin-top:100px;
	line-height:30px;
	margin-left:30px;
}

#code_image {
	padding-top:120px;
	margin-right:30px;
	height:100%;
	width:45%;
	float:right;
	background-image:url("../img/murphy.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	transition:all 0.4s ease-in-out;
}

#thirdGoals {
	float:right;
	width:100%;
	height:300px;
	margin-bottom:20px;
}

#communicationGoals {
	float:right;
	width:40%;
	text-align:left;
	line-height:30px;
	margin-right:30px;
	margin-top:90px;
}

#communi_image {
	padding-top:120px;
	float:left;
	height:100%;
	width:45%;
	margin-left:30px;
	background-image:url("../img/captainMurphy.gif");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	transition:all 0.4s ease-in-out;
}

#general_image:hover,
#code_image:hover,
#communi_image:hover {
	box-shadow:inset 0 300px 0 0 rgba(178,84,59,0.6);
}

#general_image:hover .about_links,
#code_image:hover .about_links,
#communi_image:hover .about_links {
	opacity:1;
}

.about_links a:hover {
	background-color:#ffffff;
	color:#B2543B;
}

.about_links {
	opacity:0;
	transition:all 0.4s ease-in-out;
	text-align:center;
	text-transform:uppercase;
	margin-top:-2px;
}

.about_links a {
	text-decoration:none;
	color:#ffffff;
	width:40%;
	padding:10px;
	margin:auto;
	border:3px solid #ffffff;
}
